body {
  background-color: #EAF6F6;
}

hr {
  border-color: #F5C7F7;
  border-style: solid none none;
  border-width: 2px;
}

h1 {
  color: #3BB4C1;
}

h2 {
  color: #3BB4C1;
}

h3 {
  color: #3BB4C1;
}
